/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Layer grigio in trasparenza e in primo piano, flex */
.over{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100vh;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}

/* Immagine nell'over */
.over img{
    max-width: 35%;
    min-width: 450px;
    margin-top: 50px;
}

/* Corpo con sfondo */
body {
    background-image: url(../img/cork.png);
    background-size: 300px;
}

/* Titolo con sfondo */
header {
    background-image: url(../img/wall.png);
    background-size: contain;
}

/* Font, dimensione, e posizione del titolo */
header h1 {
    font-family: Edu TAS Beginner;
    font-size: 78px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0px;
    font-weight: 600;
}

/* Flex dove inserire le card */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    gap: 200px;
    row-gap: 25px;
}

/* Dimensione e ombra cards */
.ms-card {
    width: 300px;
    min-height: 340px;
    box-shadow: 10px 10px 15px rgba(43, 43, 43, 0.6);
    border-radius: 0px !important;
    position: relative;
}

/* Pin traslato */
.pin {
    position: absolute;
    top: -3%;
    right: 50%;
    transform: translateX(50%);
}

/* Immagine nella card */
section img {
    margin: 0px;
    padding: 15px 15px 0px;
    max-width: 100%;
}

/* Testo della card */
.desc {
    margin: 12px 15px 8px;
    font-family: Edu TAS Beginner;
    font-style: italic;
}

/* Responsive Tablet */
@media screen and (min-width: 768px) {
    main {
        gap: 25px;
    }

    .desc {
        font-size: 21px;
    }
}

/* Responsive Desktop */
@media screen and (min-width: 1280px) {
    body {
        background-size: 700px;
    }

    header {
        background-size: 700px;
    }

    main {
        max-width: 1200px;
    }

    .desc {
        font-size: 24px;
    }
}